@font-face {
    font-family: "fuente";
    src: url("CaviarDreams.ttf");
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fuente;
   
}
li{
    list-style: none
}
a{
    text-decoration: none;
}

.btn-mail{
    padding: 10px;
    background-color: #ffc61a;
    color: white;
    border: none;
    border-radius: 10px;
}

html{
    height: 100%;
    display: flex;
    flex-direction: column;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.nav-item{
    margin-right: 30px;
    padding: 10px;
}

.navbar{
    height: 70px;
    padding: 10px;
    background-color: #24242405;
}
.navbar-collapse{
    width: fit-content;
    right: 0;
}
.navbar-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.container-navbar{
    display: flex;
    justify-content: space-between;
}

.btn{
    color: white;

}

.nav-link:hover{
    color: #ffc61a;
}

.li-footer{
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
}

main {
    padding: 1rem 4rem;
}

footer{
    padding-top: 15px;
    margin-top: auto;
    display:flex;
    justify-content: center;
    background-color: #24242405;
}

.active{
    background-color: #fada791f ;
    border-radius: 10px;
    
}
.active:hover a{
    color: black;
}
.logo{
    font-size: 50px;
    color: #ffc61a;
 }

.formulario-mail{
    display: flex;
    flex-direction: column;
}

.tarjetas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem 0;
    grid-gap: 2rem;

}

.tarjeta {
    background-color: #eeeeee;
    padding: 2rem 2rem 6rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

}

.actualizado {
    display: flex;
    align-items: center;
    justify-content: end;
}

.actualizado span {
    font-size: 0.75rem;
    background-color: rgb(65, 231, 65);
    border-radius: 2rem;
    color: white;
    padding: 0.25rem 0.5rem;
}
.nombre_tarjeta{
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.nombre_casa{
    font-weight: 600;
    color: #222
}
.moneda{
    font-size: 40px;
    color: #222;
    font-weight: 900;
}

.valores{
    display: flex;
    flex-direction: row;



}

.compra{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    flex: 1;
}
.venta{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    flex: 1;
}
.actualizacion{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    flex: 2;
}
.valor_etiqueta{
    color: #666;
    font-size: 12px;

}
.valor{
    color: #222;
    font-weight: 700;
    font-size: 12px;
}
.estadisticas_contenedor {
    width: 100vw;

}

.estadisticas_contenedor img {
    width: 100%;
    height: 100%;
}