* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

.btn-mail {
	padding: 10px;
	background-color: #ffc61a;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 1rem;
}

html {
	height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
footer{
	margin-top: auto;
}

.nav-item {
	padding: 1rem;
}

.navbar {
	padding: 0.5rem 1rem;
	background-color: #24242405;
}

.navbar-collapse {
	width: fit-content;
	right: 0;
}

.navbar-nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.navbar-brand {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-navbar {
	display: flex;
	justify-content: space-between;
}

.btn {
	color: white;
}

.nav-link {
	font-size: 1rem;
}

.nav-link:hover {
	color: #ffc61a;
}

.footer {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.li-footer {
	font-size: 1rem;
	text-align: center;
	list-style: none;
}

main {
	padding: 1rem 4rem;
}

footer {
	padding: 2rem 1rem;
	display: flex;
	justify-content: center;
	background-color: #24242405;
}

.active {
	background-color: #fada79ea;
	border-radius: 10px;
}

.active:hover a {
	color: black;
}

.logo {
	font-size: 3rem;
	color: #ffc61a;
}

.formulario-mail {
	display: flex;
	flex-direction: column;
}

.tarjetas {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 1rem 0;
	grid-gap: 2rem;
}

@media (max-width: 1024px) {
	main {
		padding: 1rem 3rem;
	}

	footer {
		padding: 1rem 3rem;
	}

	.logo {
		font-size: 2rem;
	}

	.nav-item {
		padding: 0.75rem;
	}

	.nav-link {
		font-size: 0.85rem;
	}

	.btn-mail {
		padding: 0.5rem 0.75rem;
		border-radius: 0.5rem;
		font-size: 0.85rem;
	}

	.tarjetas {
		grid-template-columns: repeat(2, 1fr);
	}

	.li-footer {
		font-size: 0.85rem;
	}
}

@media (max-width: 768px) {
	main {
		padding: 1rem 1.5rem;
	}

	footer {
		padding: 1rem 1.5rem;
	}

	.logo {
		font-size: 1.75rem;
	}

	.nav-item {
		padding: 0.5rem;
	}

	.nav-link {
		font-size: 0.75rem;
	}

	.btn-mail {
		padding: 0.5rem 0.75rem;
		border-radius: 0.5rem;
		font-size: 0.75rem;
	}

	.tarjetas {
		grid-template-columns: repeat(2, 1fr);
	}

	.footer {
		display: flex;
		flex-direction: column;
		row-gap: 0.75rem;
	}

	.li-footer {
		font-size: 0.75rem;
		text-align: center;
		list-style: none;
	}
}

@media (max-width: 480px) {
	main {
		padding: 2rem 1rem;
	}

	footer {
		padding: 2rem 1rem;
	}

	.logo {
		width: 1rem;
	}

	.nav-item {
		padding: 0.25rem 0.5rem;
	}

	.nav-link {
		font-size: 0.65rem;
	}

	.btn-mail {
		font-size: 0.65rem;
	}

	.tarjetas {
		grid-template-columns: repeat(1, 1fr);
	}

	.footer {
		display: flex;
		flex-direction: column;
		row-gap: 1rem;
	}

	.li-footer {
		font-size: 0.65rem;
	}
}

.tarjeta {
	background-color: #f8f8f8;
	padding: 1.5rem 1.5rem 1rem;
	border-radius: 2rem;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}

.actualizado {
	display: flex;
	align-items: center;
	justify-content: end;
}

.actualizado span {
	font-size: 0.75rem;
	background-color: #34c759;
	border-radius: 2rem;
	color: white;
	padding: 0.25rem 0.5rem;
}

.noActualizado {
	display: flex;
	align-items: center;
	justify-content: end;

	span {
		font-size: 0.75rem;
		background-color: #f01919;
		border-radius: 2rem;
		color: white;
		padding: 0.25rem 0.5rem;
	}
}

.nombre_tarjeta {
	margin: 2rem 0 0.5rem;
	line-height: 1.1;
}

.nombre_casa {
	font-weight: 500;
	color: #222;
}

.moneda {
	font-family: 'Playfair Display', serif;
	font-size: 2.5rem;
	color: #222;
	font-weight: 900;
}

.valores {
	display: flex;
	flex-direction: column;
	padding-top: 0.5rem;
	border-top: 1px solid rgb(210, 203, 203);
}

.valores div {
	margin-bottom: 10px;

}

.compra {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	flex: 1;
}

.venta {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	flex: 1;
}

.actualizacion {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	flex: 2;
}

.valor_etiqueta {
	color: #8b8b8b;
	font-size: 0.75rem;
}

.valor {
	color: #353535;
	font-weight: 700;
	font-size: 0.75rem;
}

.estadisticas_contenedor {
	width: 100vw;
}

.estadisticas_contenedor img {
	width: 100%;
	height: 100%;
}

.active {
	background-color: #fada791f;
	border-radius: 10px;
}

.active:hover a {
	color: black;
}

.logo {
	font-size: 50px;
	color: #ffc61a;
}

.formulario-mail {
	display: flex;
	flex-direction: column;
}

.modal_container {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.modal {
	background-color: white;
	z-index: 2;
	width: 700px;
	height: fit-content;
	border-top: 15px solid #ffc61a;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.305);
	border-radius: 15px;
	padding: 20px;

	.modal_header {
		display: flex;
		justify-content: space-between;

		h2 {
			font-weight: 900;
			color: black;
		}

		.btn-close {
			cursor: pointer;

			&:hover {
				color: #ffc61a;
			}
		}
	}

	form {
		display: flex;
		flex-direction: column;
		margin-top: 15px;

		button {
			width: fit-content;
			background-color: #ffc61a;
			font-weight: 500;
			border: none;
			border-radius: 10px;
			color: white;
			font-size: 1rem;
			padding: 5px 20px;
			margin-top: 30px;
			cursor: pointer;
		}

		input {
			margin-top: 10px;
			border: 1px solid rgba(0, 0, 0, 0.092);
			height: 25px;
			border-radius: 10px;
			padding: 7px;
			font-weight: bold;

			&:hover {
				border: 2px solid #ffc61a;
			}

			&:focus {
				border: 2px solid #ffc61a;
				outline: none;
			}
		}

		label {
			font-weight: 100;
			color: #000000a9;
		}
	}
}

.nombre_moneda {
	font-size: 0.8rem;

	.nombre_moneda {
		font-size: .8rem;
		color: #515151;
	}

	#monedaTipo {
		border-radius: 2px;
		position: relative;
		border: solid 1px #5c5c5c;
		border: solid 1px #5c5c5c;
		width: 120px;
		overflow: hidden;
		background-color: #ffc61a;
	}

	

}
.mail-des{
	background-color: gray;
}
.contactos {
	
	padding: 2em 3em;
	background-color: #ffc61a;
	
}

.formulario {
	padding: 2em 3em;
	background-color: #ffc61a;
	
}